Package: com.midnightchips.bettersettings10
Name: BetterSettings10
Depends: mobilesubstrate, com.creaturesurvive.libcscolorpicker, com.creaturecoding.libcspreferences, org.thebigboss.libcolorpicker, firmware(<<11)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Settings your way
Maintainer: midnightchips
Author: midnightchips
Section: Tweaks
